
.general-btn {
    padding: 20px;
    border-radius: 6px;
    border: 0;
    background-color: rgb(78, 89, 122);
    border: 2px solid rgb(78, 89, 122);
    color: white;
    font-weight: bold;
    transition: all 0.20s;
    cursor: pointer;
}

.general-btn:hover {
    background-color: rgb(108, 119, 153);
    border: 2px solid rgb(108, 119, 153);
}

.general-btn:active {
    transform: scale(0.958);
}

.return-btn {
    padding: 20px;
    border: 2px solid rgb(78, 89, 122);
    border-radius: 6px;
    background: none;
    color: rgb(78, 89, 122);
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.return-btn:active {
    transform: scale(0.958);
}

.return-btn:hover {
    background-color: rgb(237, 244, 255);
    transition-delay: 0;
    transition: background-color 0.30s;

}

.close-btn {
    height: 40px;
    width: 40px;
    
    padding: 5px;
    border: 2px solid rgb(78, 89, 122);
    border-radius: 100%;
    background-color: white;
    color: rgb(78, 89, 122);
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.20s;
    cursor: pointer;
}