.SlideModal {
    padding: 40px;
    position: fixed;
    top: 40px;
    right: -100vw;
    height: calc(100vh - 40px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: ghostwhite;
    transition: all 0.45s;
    text-align: center;
    z-index: 5;
    color: rgb(144, 151, 171);
}

.SlideModal h2 {
    color: rgb(78, 89, 122);
}

.SlideModal.active {
    right: 0;
}

.btn-container {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    text-align: left;
    
}

@media only screen and (min-width: 768px) {
    .btn-container { 
        left: 30px;
    }
}