.Hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    padding: 40px;
    gap: 10px;
}

.Hero h1,
.Hero h2 {
    margin: 0;
    padding: 0;
}

.title {
    color: rgb(78, 89, 122);
    transition: all 0.8s;
    transition-delay: .4s;
    opacity: 0;
    transform: scale(0.9);
}

.title.active {
    opacity: 1;
    transform: scale(1);
}

.presentation-text,
.subtitle,
.description-text {
  color: rgb(144, 151, 171);  
}

.edgemony {
    color: rgb(111, 208, 179);
    font-weight: bold;
    cursor: pointer;
}

.edgemony:hover {
    text-decoration: underline;
}

.presentation-text {
    letter-spacing: 4px;
    opacity: 0;
    transition: opacity 0.8s;
}

.presentation-text.active {
    opacity: 1;
}

.subtitle {
    transition: all 1.4s;
    transition-delay: 1s;
    opacity: 0;
}

.subtitle.active {
    opacity: 1;
}

.description-text {
    transition: all 1.4s;
    transition-delay: 1s;
    opacity: 0;
}

.description-text.active {
    opacity: 1;
}

.Hero button {
    transition: opacity 2s;
    transition-delay: 2s;
    transition-property: opacity;
    opacity: 0;
}

.Hero button.active {
    opacity: 1;
}