.Experiences {
    transition: all 1.0s;
}

.experiences-parallax {
    height: 100%;
    padding: 50px 40px;
}

.experiences-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.500); 
    backdrop-filter: blur(2px);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.375);
    padding: 40px;
}

.Experiences__all {
    display: flex;
    flex-direction: column;
    gap:30px;
    transition: all 0.8s;
    opacity: 0;  
}

.Experiences__all.active {
    opacity: 1;
    transform: translateX(0px);
}

.Experiences__all div:nth-child(1) {
    transition: all 1s;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(1) {
    transform: translateX(0);
}

.Experiences__all div:nth-child(2) {
    transition: all 1s;
    transition-delay: .5s;
    opacity: 0;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.Experiences__all div:nth-child(3) {
    transition: all 1s;
    transition-delay: 1s;
    opacity: 0;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(3) {
    opacity: 1;
    transform: translateX(0);
}

.Experiences__title,
.Experiences__content h2 {
    color: rgba(0, 0, 0, 0.664);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.321);
}

.Experiences__title {
    padding: 4px 0;
   text-align: center;
   font-size: 0.8rem;
   z-index: 1;
}

.experiences__date {
    color: rgba(0, 0, 0, 0.399);  
    font-size: 0.8rem;
    font-weight: 200;
}

.experiences__paragraph_3,
.experiences__paragraph_2,
.experiences__paragraph_1 {
    color: rgba(0, 0, 0, 0.399);  
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .Experiences {
        height: 100%;
        margin-top: 0;
    }

    .experiences-parallax {
        height: 100%;
    }

    .Experiences__all {
    flex-direction: row;
    }

    .Experiences__content {
        width: 33%;
    }

    .Experiences__all div:nth-child(1) {
        transition: all 1s;
        transform: translateY(100px);
    }

    .Experiences__all.active div:nth-child(1) {
        transform: translateY(0);
    }

    .Experiences__all div:nth-child(2) {
        transition: all 1s;
        transition-delay: .5s;
        opacity: 0;
        transform: translateY(100px);
    }

    .Experiences__all.active div:nth-child(2) {
        opacity: 1;
        transform: translateY(0);
    }

    .Experiences__all div:nth-child(3) {
        transition: all 1s;
        transition-delay: 1s;
        opacity: 0;
        transform: translateY(100px);
    }

    .Experiences__all.active div:nth-child(3) {
        opacity: 1;
        transform: translateY(0);
    }

}