.Experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* height: 100vh; */
    align-items: center;
    padding: 50px 40px;
    gap: 20px;
    transition: all 1.0s;
    
}

.Experiences__all {
    display: flex;
    flex-direction: column;
    gap:30px;
    /* opacity: 0; */
    transition: all 0.8s;
    opacity: 0;
    /* transform: translateY(80px); */
   
}

.Experiences__all.active {
    opacity: 1;
    transform: translateX(0px);
}

.Experiences__all div:nth-child(1) {
    transition: all 1s;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(1) {
    transform: translateX(0);
}

.Experiences__all div:nth-child(2) {
    transition: all 1s;
    transition-delay: .5s;
    opacity: 0;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.Experiences__all div:nth-child(3) {
    transition: all 1s;
    transition-delay: 1s;
    opacity: 0;
    transform: translateX(100px);
}

.Experiences__all.active div:nth-child(3) {
    opacity: 1;
    transform: translateX(0);
}

/* .Experiences__content {
    margin: 20px 0;
} */

.Experiences__title,
.Experiences__content h2 {
    color: rgb(78, 89, 122);
}

.Experiences__title {

    padding: 4px 0;
   text-align: center;
   font-size: 0.8rem;
   z-index: 1;
}

.experiences__date {
    color: rgb(144, 151, 171); 
    font-size: 0.8rem;
    font-weight: 200;
}

.experiences__paragraph_3,
.experiences__paragraph_2,
.experiences__paragraph_1 {
    color: rgb(144, 151, 171); 
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .Experiences {
        height: 100vh;
        margin-top: 0;
    }

    .Experiences__all {
    flex-direction: row;
}

.Experiences__content {
    width: 33%;
}

.Experiences__all div:nth-child(1) {
    transition: all 1s;
    transform: translateY(100px);
}

.Experiences__all.active div:nth-child(1) {
    transform: translateY(0);
}

.Experiences__all div:nth-child(2) {
    transition: all 1s;
    transition-delay: .5s;
    opacity: 0;
    transform: translateY(100px);
}

.Experiences__all.active div:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
}

.Experiences__all div:nth-child(3) {
    transition: all 1s;
    transition-delay: 1s;
    opacity: 0;
    transform: translateY(100px);
}

.Experiences__all.active div:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
}

}