.Experiences {
    transition: all 1.0s;
    width: 100%;
}

.experiences-parallax {
    min-height: calc(100vh - 40px);
    padding: 50px 40px;
}

.experiences-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.500); 
    backdrop-filter: blur(2px);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.375);
    padding: 40px;
   width: 100%;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100%;
    min-width: 100%;
}

.experiences-list {
    list-style: none;
    display: flex;
    width: 100%;
    font-size: 0.8rem;
}

.experiences-list .exp-li {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border-bottom: 4px solid rgba(106, 67, 67, 0.402);
    cursor: pointer;
}

.experiences-list .exp-li p {
    text-align: center;
    padding: 10px 10px;
}

.experiences-list .exp-li.active {
    background-color: rgba(160, 71, 71, 0.113);  
    border-bottom: 4px solid rgb(163, 65, 65) ;
}

.Experiences__all {
    display: flex;
    flex-direction: column;
    gap:30px;
    transition: all 0.8s;
    opacity: 0; 
}

.Experiences__all.active {
    opacity: 1;
    transform: translateX(0px);
}

.Experiences__all div {
    transition: all 1s;
    transform: translateX(100px);
}

.Experiences__all.active div {
    transform: translateX(0);
}

.Experiences__title,
.Experiences__content h2 {
    color: rgba(0, 0, 0, 0.664);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.321);
}

.Experiences__title {
    padding: 4px 0;
   text-align: center;
   font-size: 0.8rem;
   z-index: 1;   
}

.Main_exp_title {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.place {
    font-size: 1.2rem;
    color: rgba(162, 90, 90, 0.579);
}

.experiences__date {
    color: rgba(0, 0, 0, 0.399);  
    font-size: 0.8rem;
    font-weight: 200;
}

.experiences__paragraph_3,
.experiences__paragraph_2,
.experiences__paragraph_1 {
    color: rgba(0, 0, 0, 0.399);  
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .Experiences {
        
        height: calc(100vh - 40px);
        margin-top: 0;
        
    }

    .experiences-parallax {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .experiences-list {
        flex-direction: column;
        max-width: 16%;
        min-height: 50vh;
    }

    .experiences-container {
        flex-direction: row;
    }

    .experiences-list .exp-li {
        border-bottom: none;
        border-left: 4px solid rgba(106, 67, 67, 0.402);
    }

    .experiences-list .exp-li.active {
        background-color: rgba(160, 71, 71, 0.113);  
        border-bottom: none;
        border-left: 4px solid rgb(163, 65, 65) ;
    }

    .Experiences__all {
    flex-direction: row;
    }

    .Experiences__content {
        width: 80%;
        
    }

    .Experiences__all div {
        transition: all 1s;
        transform: translateY(100px);
    }

    .Experiences__all.active div {
        transform: translateY(0);
    }

}