.LoadingScreen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.832);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 0.5s;
}

.LoadingScreen__logo {
    width: 80px;
    transition: all 1.8s;
    /* transition-delay: 0.25s; */
    opacity: 0;
}

.LoadingScreen__logo.active {
    opacity: 1;
} 

.LoadingScreen.deactivate {
    opacity: 0;
    pointer-events: none;
}