.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    background-color: rgb(78, 89, 122);
    color: rgb(45, 45, 45);
}

.Logo {
    width: 25px;
}