.ModalWindow__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10%; */
    background-color: rgba(0, 0, 0, 0.731);
    z-index: 9999;
    backdrop-filter: blur(4px);
}

.ModalWindow__window img {
    width: 100vw;
    height: auto;
    
}

.ModalWindow__window {    
    gap: 20px;
    transform: scale(0.0);
    transition: all 0.5s;
    z-index: 9999;   
}

.ModalWindow__window.active {
    transform: scale(1.0);
}

@media only screen and (min-width: 768px) {

    .ModalWindow__window img {
        width: 80vw;
        height: auto;
    }

}

