.toggle {
    margin-right: -20px;
    position: fixed;
    top: -15px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.459);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.495);
    /* border-radius: 8px; */
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transform: scale(0.40);
}

.toggle span{
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.399);
    
    transition: all 0.35s;
}

.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.toggle.active span:nth-child(3){
    transform: translateX(60px);
}

.toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle.active span:nth-child(2){
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.HamMenu {
    position: fixed;
    top: 40px;
    right: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.665);
    padding: 0;
    color: white;
    z-index: 6;
    transition: all .35s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.174);
    opacity: 0;
    pointer-events: none;
}

.HamMenu.active {
    top: 40px;
    right: 0;
    height: 164px;
    pointer-events: all;
    opacity: 1;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    align-items: flex-end;
}

.menu-list li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 5px 20px;
    cursor: pointer;
}

.menu-list li:hover {
    background-color: rgb(78, 89, 122);
    color: white;
    
}

@media only screen and (min-width: 768px) {
    .toggle {
        display: none;
    }

    .HamMenu {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0vh;
        background: none;
        box-shadow: none;
        /* width: 50%; */
        z-index: 999;
        color: white;
        font-weight: 500;
        height: 40px;
        align-items: center;
        margin-right: 20px;
        opacity: 1;
        pointer-events: all;
    }

    .menu-list {
        flex-direction: row;
        width: auto;
        gap: 0;
    }

    .menu-list li {
        align-items: center;
        font-size: 0.8rem;
        gap:5px;
        width: 130px;
        height: 40px;
        transition: all .35s;
    }
    .menu-list li:hover {
        background-color:  rgba(248, 248, 255, 0.294);
        
    }

}